.post-meta {
  margin: .5em;

  > div {
    margin: 0.5em 0 0 0;
  }
}

.date-posted {
  text-align: left;
}

.note {
  list-style: none;
}

.note .action {
  margin-left: .3em;
}

.reblogged {
}

.author {
  display: inline-block;
}

.meta-buttons {
  float: left;
  margin-top: 0;
}

.note-count {
  width: 150px;
  display: inline-block;
}

.tags {
  list-style: none;
  text-indent: none;
  display: inline;

  .tag {
    background: $color-secondary;
    display: inline-block;
    margin-right: 1.2em;
    a {
      display: inline;
      color: darken($color-primary, 10%);
      &:hover {
        background-color: darkent($color-primary, 20%);
        color: $text-color-primary;
      }
    }
  }
}
