

$red: #EF2020;
$blue: #3A32DE;

$background: #1a3144;

$color-primary: $blue;
$color-secondary: $red;
$text-link-color: $red;
$text-color-primary: #ffffff;
$custom-font-size-base: 14px;

$layout-drawer-bg-color: rgba($color-primary,0.75);
$layout-drawer-border-color: rgba($color-primary,0.75);
$layout-drawer-width: 100%;
$layout-text-color: rgba($color-primary,1);
$layout-drawer-navigation-color: $text-link-color;
$layout-drawer-navigation-link-active-background: $text-link-color;
$layout-drawer-navigation-link-active-color: $text-link-color;

$card-background-color: rgba($color-primary, 0.75);
$card-supporting-text-text-color: $text-color-primary;
$card-width: 80%;

$ripple-bg-color: #ffffff;


$grid-tablet-breakpoint: 720px;

$sansBold: 'NeuzeitBold', Helvetica, Arial, sans-serf;
$sansBook: 'NeuzeitBook', Helvetica, Arial, sans-serf;
