/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/** Global variables imported before everything else */
// Variables and mixins

// Resets and dependencies
@import "settings"; //overrides

// Bulma

@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/_all";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/layout/_all";

// Components
@import "mixins";
@import "content";
@import "sidebar";
@import "nav";
@import "posts";
@import "pages";
@import "general";
@import "pagination";
@import "back_to_top";
